{% extends 'base.html' %} 

{% load static %} 
{% block title%}CherryBeauty | Giới thiệu{%endblock %} 

{% block linkcss%} 
<link rel="stylesheet" href="{% static "css/aboutus.css" %}" type="text/css">
{% endblock %} 

{% block banner%}
{% endblock %} 

{% block main%}
<div class = "container-lg">
<img src="{% static "img/img_banner/Logo_2.png" %}" width="70%" height="70%" />
<h1>GIỚI THIỆU</h1>

<p><b>Cherry Beauty</b> chuyên phân phối sỉ và lẻ các sản phẩm mỹ phẩm đến từ Hàn, Nhật, Mỹ,... Với sự đảm bảo về chất lượng và nguồn gốc sản phẩm, Lam Thảo Cosmetics cam kết chỉ phân phối các sản phẩm chính hãng, được nhập trực tiếp tại hãng và không qua trung gian.</p>
<p>Các sản phẩm tại Cherry Beauty đều có hóa đơn, chứng từ từ hãng sản xuất ĐẢM BẢO 100% CHÍNH HÃNG.</p>
<p>Chúng mình mong muốn đem đến cho khách hàng nhiều sự lựa với những sản phẩm hot nhất, liên tục được cập nhật cùng mức giá hợp lý nhất nhằm mang đến cho bạn những trải nghiệm tốt hơn. Đồng thời, Lam Thảo luôn có các chương trình khuyến mãi, tích điểm và các chính sách chăm sóc khách hàng diễn ra thường xuyên để tri ân khách hàng đã lựa chọn và đồng hành cùng Cherry Beauty
    <i class="fa-solid fa-heart" style="color:#FF0000"></i>
</p>
<p>Hiện tại, <b>CherryBeauty</b> chỉ có DUY NHẤT 1 cửa hàng tại Khu phố 6, Linh Trung,Thủ Đức, Hồ Chí Minh.
    Quý khách có thể đến tham quan và mua sắm từ 9h – 21h hằng ngày (bao gồm cả Chủ nhật và ngày lễ)
</p>
<p>Khách hàng cũng có thể tìm đến Cherry Beauty đặt hàng trực tiếp tại website hoặc hotline 070.8349.971 để được tư vấn và hỗ trợ miễn phí.
</p>
<p>Cherry Beauty mong rằng có thể đồng hành cùng bạn trong quá trình chăm sóc và làm đẹp cho bản thân, giúp bạn tự tin và tốt hơn mỗi ngày 
    <i class="fa-solid fa-heart" style="color:#FF0000"></i> 
</p>
</div>
{% endblock %} 

{% block linkjs %}
{% endblock %}

