{% extends 'base.html' %}

{% load static %}

{% block title%}CherryBeauty{% endblock %}
{% block linkcss%}
<link rel="stylesheet" href="{% static "css/cart.css" %}" type="text/css">
{% endblock %}
{% block banner%}
{% endblock %}
{% block main %}
<div class = "container">
    <h3> Add Comment </h3>
    <div class = "form-group">
        <form method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button> Add Comment </button>
    </div>
</div>
{% endblock %}

{% block linkjs%}
{% endblock %}