{% extends 'base.html' %}

{% load static %}

{% block title%}CherryBeauty{% endblock %}
{% block linkcss%}
<link rel="stylesheet" href="{% static "css/checkout.css" %}" type="text/css">
{% endblock %}

{% block banner%}
{% endblock %}

{% block main%}
<div class="container-lg">
    <div class="row">
        <div class="location">
            <a href="/cart"><i class="fa-solid fa-angle-left"></i> Quay lại giỏ hàng </a>
            
        </div>
    </div>
    {% if items%}
    <div class = "row align-item-star">
    <div class = "col-5">
    <div class = "row">
    <div class="thongtin">
        <div class="row">
            <h3>Thông tin liên hệ giao hàng</h3>
        </div>
        <div class="">
            <div class="label">
                <p>Họ và tên:</p>
            </div>
            <div class="">
                <input value ="{{customer.name}}">
            </div>
        </div>
        <div class="">
            <div class="label">
                <p>Số điện thoại:</p>
            </div>
            <div class="">
                <input value ="{{customer.phone_number}}">
            </div>
        </div>
        <div class="">
            <div class="label">
                <p>Email:</p>
            </div>
            <div class="">
                <input value ="{{customer.email}}">
            </div>
        </div>
        <div class="">
            <div class="label">
                <p>Địa chỉ:</p>
            </div>
            <div class="">
                <input value ="{{customer.address}}">
            </div>
        </div>
    </div>
    </div>
    <div class = "row">
    <div class="payment">
        <h3>Phương thức thanh toán</h3>
        <p>Sau khi hoàn tất thanh toán, mã xác nhận tour sẽ được gửi ngay qua SMS và Email của bạn.</p>
            <div class="method">
                <label for="qr"><i class="fas fa-qrcode" id="icon"></i> Thanh toán QR-Pay</label>
                <input type="radio" name="pay" id="qr" value="qr" required>
            </div>

            <div class="method">
                <label for="atm"> <i class="far fa-credit-card" id="icon"></i> Thanh toán thẻ ATM/Tài khoản ngân hàng</label>
                <input type="radio" name="pay" id="atm" value="atm" required>
            </div>


            <div class="method">
                <label for="visa"> <i class="fas fa-credit-card" id="icon"></i> Thanh toán thẻ visa/mastercard</label>
                <input type="radio" name="pay" id="visa" value="visa" required>
            </div>


            <div class="method">
                <label for="bank"> <i class="fas fa-money-check" id="icon"></i> Chuyển khoản ngân hàng</label>
                <input type="radio" name="pay" id="bank" value="bank" required>
            </div>
        
    </div>
    </div>
    </div>
    <div class = "col-7">
    <div class="productlist">
        <h3 class="listtitle"> Danh sách sản phẩm </h3>
            <table>
            {% for item in items%}
            <tr>
                <td>
                    <img src="{{item.product.product_img.url }}" class="productimg">
                </td>
                <td class="productitle">{{item.product.title }}</td>
                <td class="number-input">  x {{item.quantily}} </td>
                <td class="itemprice" id='1'>{{item.product.price }}</td>
                <td class="sumprice" id="num-price">{{order.get_cart_total}}</td>
            </tr>
            {% endfor %}
            </table>
    </div>
    {% endif %}
    </div>
    </div>
    <hr>
    
    
    <div class="confirm">
        <h3>Xác nhận</h3>
        <div class="cf">
        <input required type="radio" name="agree" id="agree">
        <label for="agree">Đồng ý với <a href="#" style="color: #2DA6D9">Điều kiện và điều khoản</a> của chúng tôi</label> 
        </div>
        <button type="submit" class="thanhtoan"> Thanh toán</button>
        
    </div>
</div>


{% endblock %}

{% block linkjs %}
{% endblock %}